nav {
    display: flex;
    width: 1190px;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
}

.title-01 {
    display: flex;
    width: 60%;
    height: auto;
    align-items: center;
}

.title-01 img {
    width: 56px;
    height: 48px;
}


.title-01 h1 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-left: 20px;
    align-items: center;
}

.title-s-e {
    color: #FF5400;
    margin-left: 10px;
}

.top-nav-items {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

nav i {
    visibility: hidden;
}

.h {
    color: #FF5400;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.top-nav-items a {
    color: black;
    text-decoration: none;
}

.container-1 {
    width: 1170px;
    height: 500px;
    margin: 60px auto;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/Group13.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    margin-top: 5px;
    border-radius: 16px;
    flex-direction: column;
    text-align: center;

}

.header h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.header p {
    color: #d1caca;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: -20px;
    margin-left: 180px;
    margin-right: 180px;
}

.selection {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 20px auto;
    border: none;
    outline: none;
}

.box-1 {
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-radius: 8px;
    background: #FFF;
    border: none;
    outline: none;
}

.box-2 {
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;
    border: none;
    outline: none;
}

.box-3 {
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-radius: 8px;
    background: #FFF;
    border: none;
    outline: none;
}

.box-4 {
    width: 174px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    outline: none;
}

.selection img {
    width: 24px;
    height: 24px;
    position: relative;
}

.container-2 {
    display: flex;
    width: 1170px;
    height: auto;
    margin: 90px auto;
}

.popular-package h1 {
    color: #131318;
    width: 577px;
    text-align: left;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
}

.popular-package p {
    color: rgba(19, 19, 24, 0.70);
    width: 577px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.popular-package li {
    color: rgba(19, 19, 24, 0.70);
    width: 525px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.popular-package button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
}

.pp-no-1 img {
    width: 540px;
    height: 550px;
    border-radius: 16px;
    margin-left: 52px;
}

.container-3 {
    width: 1170px;
    height: auto;
    margin: 90px auto;
}

.destination-container-1 h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-top: 0;
}

.destination-container-1 p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
    padding-left: 140px;
    padding-right: 140px;
}

.first-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    gap: 10px;
}

.image-container-1 {
    width: 573px;
    height: 300px;
    display: flex;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/maldives.png');
}

.image-container-2 {
    width: 573px;
    height: 300px;
    display: flex;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/indonesia.png');
}

.second-row {
    display: grid;
    gap: 20px;
    margin-top: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.image-container-3 {
    width: 374px;
    height: 286px;
    display: flex;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/srilanka.png');
}

.image-container-4 {
    width: 474px;
    height: 286px;
    display: flex;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/north-america.png');
}

.image-container-5 {
    width: 274px;
    height: 286px;
    display: flex;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/kashmir.png');
}


.third-row {
    display: grid;
    gap: 10px;
    margin-top: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.image-container-6 {
    width: 473px;
    height: 300px;
    display: flex;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/bangladesh.png');
}

.image-container-7 {
    width: 673px;
    height: 300px;
    display: flex;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/bandarban.png');
}

.image-text-1 {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.image-text-2 {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.image-text-3 {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.image-text-4 {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.image-text-5 {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.image-text-6 {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.image-text-7 {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.container-4 {
    width: 1170px;
    height: auto;
    margin: 90px auto;
}

.destination-container-2 h1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0;
}

.destination-container-2 p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: -10px;
    padding-bottom: 20px;
    padding-left: 140px;
    padding-right: 140px;
}

.three-cards {
    display: flex;
    gap: 20px;
}

.first-card {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.first-card img {
    width: 64px;
    height: 64px;
    margin-top: 20px;
    margin-left: 20px;
}

.first-card h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 30px;
}

.first-card p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 26px;
}

.second-card {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.second-card img {
    width: 64px;
    height: 64px;
    margin-top: 20px;
    margin-left: 20px;
}

.second-card h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 30px;
}

.second-card p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 26px;
}

.third-card {
    width: 573px;
    height: 284px;
    margin-top: 20px;
    margin-left: 290px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.third-card img {
    width: 64px;
    height: 64px;
    margin-top: 20px;
    margin-left: 20px;
}

.third-card h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 30px;
}

.third-card p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 26px;
}

.bonus-point {
    width: 1170px;
    height: auto;
    margin: 90px auto;
}


.dd-comment h1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0;
}

.dd-comment p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: -20px;
    margin-left: 170px;
    margin-right: 170px;
}

.malay-hotel-01 {
    width: 1170px;
    height: 500px;
    margin: 60px auto;
    background: lightgray 50%;
    background-image: url('../images/malay-hotel.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    border-radius: 16px;
    flex-direction: column;
    align-items: end;
}

.insight {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin-right: 50px;
}

.offers-mh {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    margin-left: 45px;
}

.t i {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    color: #FF5400;
}

.t {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;

}

.p i {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    color: #FF5400;
}

.p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;

}

.l i {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    color: #FF5400;
}

.l {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;

}


.text-price h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-left: 45px;
}

.text-price p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 45px;
    margin-right: 60px;
}

.text-price h3 {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin-left: 45px;
}

.text-price button {
    width: 150px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-left: 45px;
}


.maldive-hotel {
    width: 1170px;
    height: 500px;
    margin: 60px auto;
    margin-top: -40px;
    background: lightgray 50%;
    background-image: url('../images/maldive-hotel.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    border-radius: 16px;
    flex-direction: column;
}

.insight-01 {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin-left: 50px;
}

.malay-hotel-02 {
    width: 1170px;
    height: 500px;
    margin: 60px auto;
    background: lightgray 50%;
    background-image: url('../images/malay-hotel.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    margin-top: -40px;
    border-radius: 16px;
    flex-direction: column;
    align-items: end;
}

.all-packages button {
    color: #FFF;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    width: 210px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    margin-left: 40%;
    border: none;
}

.container-8 {
    display: flex;
    width: 1170px;
    margin: 60px auto;
    margin-top: 0;
}

.simple-pp {
    height: 424px;
}

.simple-pp h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    line-height: 50px;
}

.simple-pp p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-right: 20px;
}

.simple-pp li {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    padding-right: 30px;
}

.li-01 {
    margin-left: 22px;
}

.li-02 {
    margin-left: 22px;
}

.simple-pp button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    width: 174px;
    height: 52px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    text-align: center;
}

main {
    width: 1170px;
    margin: 60px auto;
}

.container-9 {
    display: flex;
    gap: 20px;
}

.subscribe-part {
    width: 474px;
    height: 360px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 30px;
}

.subscribe-part h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.subscribe-part p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
}

.line-01 {
    width: 88%;
    height: 1px;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
    background: rgba(19, 19, 24, 0.10);
}

.name-input {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 10px;
    border: none;
}

.email-input {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 10px;
    border: none;
}

.subscribe-button {
    width: 400px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    margin-top: 20px;
    border: none;
}

.pp-no-3 {
    width: 672px;
    height: 422px;
    border-radius: 16px;
    position: relative;
    background-image: url('../images/Rectangle8.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.image-text {
    width: 324px;
    height: 120px;
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-19.628deg);
    text-align: center;
    line-height: 5px;
    position: absolute;
    bottom: 50px;
    margin-left: 305px;
}

.image-text h2 {
    color: #FFF;
    font-size: 26px;
    font-weight: 400;
    margin-top: 35px;
}

.image-text p {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}

footer {
    width: 100%;
    height: 502px;
    margin-top: 100px;
    background: rgba(19, 19, 24, 0.05);
}

.container-10 {
    width: 1835px;
    padding-top: 110px;
}

.last-header {
    height: 56px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.last-header img {
    width: 46px;
    height: 40px;
}

.last-header h1 {
    color: var(--Dark-01, #131318);
    font-size: 32px;
    font-weight: 800;
    margin: 0;
}


.title-02 p {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 440px;
    padding-right: 440px;
}

.social-links {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 95px;
    gap: 25px;
    margin-top: -75px;
}

.line-02 {
    width: 872px;
    height: 1px;
    margin-top: 40px;
    background: rgba(19, 19, 24, 0.10);
}

.end h3 {
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
}

/* for mobile viewing angle */

@media screen and (min-width: 365px) and (max-width: 576px) {
    nav {
        width: auto;
        height: 30px;
        margin-top: 0;
        display: flex;
        justify-content: space-between;
    }

    main {
        width: 362px;
        height: auto;
    }

    .selection,
    .container-2,
    .container-4,
    .container-9,
    .container-8,
    .three-cards,
    .first-row,
    .second-row,
    .third-row{
        width: auto;
        flex-direction: column;
        display: flex;
    }

    .line-01,
    .name-input,
    .email-input,
    .subscribe-button {
        width: auto;
    }

    .title-01 i {
        width: auto;
        height: auto;
    }

    .title-01 img {
        width: 33px;
        height: 28px;
    }

    .title-01 h1 {
        font-size: 22px;
    }

    .top-nav-items {
        width: auto;
        position: relative;
        overflow: hidden;
    }

    nav i{
        visibility: visible;
    }

    .top-nav-items a {
        display: none;
        position: absolute;
        text-align: center;
        text-decoration: none;
    }


    /* container-1 */

    .container-1 {
        width: auto;
        height: 520px;
        margin-top: 10px;
    }

    .header h1 {
        font-size: 26px;
        margin-top: 30px;
    }

    .header p {
        font-size: 14px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .selection {
        width: auto;
        margin-top: 0;
    }

    .box-1,
    .box-2,
    .box-3,
    .box-4 {
        width: 285px;
        height: 52px;
    }

    /* container-2 */


.container-2{
    width: auto;
    height: auto;
    align-items: center;

}

    .popular-package h1 {
        width: auto;
        font-size: 28px;
        margin-top: -60px;
    }

    .popular-package li {
        width: auto;
        font-size: 14px;
        padding-left: 10px;
    }

    .popular-package p {
        width: auto;
        font-size: 16px;
        margin-left: 5px;
    }

    .popular-package button {
        width: auto;
        height: 52px;
    }

    .pp-no-1 img {
        width: auto;
        height: 342px;
        margin-top: 20px;
        margin-left: 0;
    }

    /* container-3 */

    .container-3 {
        width: auto;
        height: auto;
        align-items: center;
    }

    .destination-container-1 h1 {
        width: auto;
        font-size: 30px;
        margin-top: -70px;
    }

    .destination-container-1 p {
        width: auto;
        font-size: 16px;
        margin-left: -115px;
        padding-right: 0;
        margin-top: -20px;
    }


    .first-row, .second-row, .third-row{
        gap: 10px;
    }

    .image-container-1 {
        width: auto;
        height: 176px;
        margin-top: -30px;
        background-position: center;
        background-size: cover;
    }

    .image-container-2 {
        width: auto;
        height: 176px;
        background-position: center;
        background-size: cover;
    }

    .image-container-3 {
        width: auto;
        height: 176px;
        margin-top: -5px;
        background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/srilanka-022.png');
        background-position: center;
        background-size: cover;
    }

    .image-container-4{
        width: auto;
        height: 176px;
        background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/NA-00.jpg');
        background-position: center;
        background-size: cover;
    }

    .image-container-5 {
        width: auto;
        height: 176px;
        background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../images/kashmir02.png');
        background-position: center;
        background-size: cover;
    }

    .image-container-6 {
        width: auto;
        height: 176px;
        margin-top: -5px;
        text-align: center;
        background-position: center;
        background-size: cover;
    }

    .image-container-7 {
        width: auto;
        height: 176px;
        text-align: center;
        background-position: center;
        background-size: cover;
    }

    /* container-4  */

    .destination-container-2 h1 {
        font-size: 30px;
        margin-top: -70px;
    }

    .destination-container-2 p {
        width: auto;
        font-size: 16px;
        margin-left: -120px;
        padding-right: 0;
    }

    .first-card {
        width: auto;
        height: auto;
        font-size: 20px;
        line-height: 5px;
        margin-top: -20px;
    }

    .second-card {
        width: auto;
        height: auto;
        font-size: 20px;
        line-height: 5px;
    }

    .third-card {
        width: auto;
        height: auto;
        font-size: 20px;
        margin-left: 0;
        line-height: 5px;
    }

    /* bonus-point */

    .bonus-point {
        width: auto;
    }

    .dd-comment h1 {
        width: auto;
        font-size: 28px;
        margin-top: -70px;
    }

    .dd-comment p {
        font-size: 14px;
        margin-top: 10px;
        margin: 0;
    }

    .malay-hotel-01 {
        width: auto;
        height: 500px;
        align-items: center;
    }

    .insight {
        width: 320px;
        height: 307px;
        margin-top: 165px;
        margin-right: 0;
    }

    .offers-mh {
        width: 235px;
        height: 70px;
        flex-wrap: wrap;
        margin-left: 15px;
        margin-right: 350px;

    }

    .maldive-hotel {
        width: auto;
        height: 500px;
        align-items: center;
    }

    .insight-01 {
        width: 320px;
        height: 307px;
        margin-top: 165px;
        margin-left: 0;
    }

    .l {
        margin-top: -20px;
    }

    .text-price h1 {
        font-size: 20px;
        margin-left: 15px;
        margin-top: -5px;
    }

    .text-price p {
        font-size: 9px;
        margin-left: 15px;
        margin-right: 10px;
        line-height: 14px;
    }

    .text-price h3 {
        font-size: 16px;
        margin-left: 15px;
    }

    .text-price button {
        font-size: 12px;
        width: 100px;
        height: 35px;
        margin-left: 15px;
    }

    .malay-hotel-02 {
        width: auto;
        height: 500px;
        align-items: center;
    }


    .all-packages{
        margin-top: -40px;
        margin-left: -110px;
    }

    /* container-8 */


    .container-8{
        width: auto;
    }
    
    .simple-pp h1 {
        font-size: 26px;
        line-height: 40px;
        padding-left: 15px;
        margin-top: -60px;
    }

    .simple-pp p {
        padding-left: 15px;
        padding-right: 30px;
    }

    .simple-pp li {
        font-size: 14px;
        padding-left: 15px;
    }


    .simple-pp button {
        margin-left: 15px;
    }


    .pp-no-2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pp-no-2 video{
        width: 397px;
        height: 208px;
    }


    /* container-9 */

    main{
        width: auto;
    }

    .subscribe-part {
        width: auto;
        height: auto;
        margin-top: -40px;
        display: flex;
        flex-direction: column;
    }

    .line-01{
        width: 100%;
    }

    .subscribe-part p {
        width: auto;
    }


    .pp-no-3 {
        width: auto;
        height: 300px;
        display: flex;
        justify-content: end;
        align-items: end;
    }

    .image-text {
        width: 219px;
        height: 79px;
        margin-bottom: -15px;
        transform: rotate(-21.628deg);
    }

    .image-text h2{
        margin-top: 20px;
        font-size: 15px;
        font-weight: 300;
    }

    .image-text p{
        font-size: 21px;
        font-weight: 700;
    }

    /* container-10 */

    .container-10 {
        width: 362px;
        padding-top: 0;
    }

    footer{
        width: auto;
        height: 440px;
        margin-top: -35px;
    }

    .container-10{
        width: auto;
    }

    .last-header img {
        margin-top: 60px;
    }

    .last-header h1 {
        margin-top: 60px;
    }

    .title-02 p {
        width: auto;
        padding: 0;
        margin-top: 40px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .line-02 {
        width: 80%;
    }
}